
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">The Quantity</th>
                <th>The Price</th>
                <th>Images</th>
            </tr>
        </thead>

        <tbody>
            <tr class="">
                <td>R1C1</td>
                <td>R1C2</td>
                <td>R1C3</td>
                <td>R1C2</td>
                <td>R1C3</td>
            </tr>
            <!-- <tr>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
            </tr> -->
        </tbody>
    </table>
</div>

