
<div class="container">

    <!-- Start Select Option -->
    <!-- <div class="mb-5 w-25">
        <label for="" class="form-label">Chosse The Proudects</label>
        <select class="form-select form-select-lg" [(ngModel)]="returnValueWithNgmodel" (change)="showWithFilter()">
            <option *ngFor="let cat of category" [value]="cat.id">{{cat.name}}</option>
        </select>
    </div> -->


    <!-- Start Section Show Products -->
    <div class="row mt-5">
        <!-- Use Element Conatiner Because It Does Not Appear In Dom -->
        <ng-container *ngFor="let item of MsgWithServices; let i = index">
        
            <!-- <div class="col-3 mb-4"  *ngIf="showw == item.category"> -->
                <div class="col-3 mb-4">
                <div class="test" Shadow>
                    <!-- <div class="card" [style.background-color]="(item.Quantity == 1)?'yellow':'' || (item.Quantity == 0)?'red':''"> -->
                    <div class="card" [ngClass]="{'bg-warning':item.Quantity == 1, 'bg-danger': item.Quantity == 0}">
                        <img class="card-img-top image_test w-100" src="{{item.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title bg-dark text-light p-2">{{item.name}}</h5>
                            <span class="p-1">Id Is : <strong> {{item.id}}</strong></span>
                            <!-- <span class="p-1 mx-2">Quantity Is : <strong>{{item.Quantity}}</strong></span> -->
                            <ng-container [ngSwitch]="item.Quantity">
                                <span *ngSwitchCase="0">No Proudect</span>
                                <span *ngSwitchCase="1">The Last Proudect</span>
                                <span *ngSwitchDefault>Quantity Is : <strong>{{item.Quantity}}</strong></span>
                            </ng-container>

                            <span class="d-lg-block pt-2 p-1">Price The Proudect : <strong>${{item.Price}}</strong></span>
                            <span class="d-block pb-2">Proudect Number : <strong>{{i + 1}}</strong></span>
                            <button type="button" class="btn btn-primary" [disabled]="item.Quantity == 0" 
                            (click)="dec(item)" 
                            (click)="totalPrice(item)"
                            (click)="addTableAfterShopping(item.id,item.name,item.Price,item.image)">buy now</button>
                            <button class="btn btn-info ms-2" (click)="addToCard(item)">Add To Card</button>
                        </div>
                    </div>
                </div>
        
            </div>
        
        </ng-container>

        <!-- [class.d-none]="returnValueWithNgmodel != item.category" -->
        <!-- <div>{{totalPriceAfterShop}}</div> -->
    </div>

</div>



